.bg-main {
  background-color: #ddd;
}

.size {
  width: 100vw;
  height: 100vh;
}

.transition-logo {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  transition: transform 2s ease-in-out; /* smooth slide */
}

.transition-logo-sm {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  transition: transform 2s ease-in-out; /* smooth slide */
}


/* When scrolled: move up-left and shrink */
.logo-fixed {
  transform: translate(-42.5vw, -40vh) scale(0.2);
}

/* Scroll text fade-out */
#scroll-text {
  transition: opacity 1s ease-in-out;
}

#scroll-text.hidden {
  opacity: 0;
  visibility: hidden;
}


.font-text {
  font-family: "ff-meta-correspondence-web-p", sans-serif;
}

.font-title {
  font-family: "itc-giovanni", serif;
}

.pulse {
  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

.text-rutgers-red {
  color: #C8102E;
}

.text-rutgers-gray {
  color: #5F6A72;
}
